<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name = "customerHibernate" class="repository.CustomerHibernateImpl"/>

    <bean name= "customerService" class="service.CustomerServiceImpl" autowire="constructor">
        <!--<property name="customerHibernate" ref="customerHibernate"/> Setter-->
        <!--<constructor-arg index ="0" ref="customerHibernate"/> Constructor-->
    </bean>
</beans>